:root {
  --bg-green: #2ECC71;
  --bg-orange: #FFA726;
  --bg-dark: #212121;
  --bg-light: #FDFEFE;
  --bg-blue: #29B6F6;
  --font-title: 30px;
  --font-subtitle: 24px;
  --font-text-big: 18px;
  --font-text-normal: 16px;
  --font-varela: 'Varela Round', sans-serif;
}

body {
  position: relative;
}

.container {
  background-image: url('../../assets/eco-friendly.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(252, 243, 243, 0.644);
  background-blend-mode: lighten;
  padding-top: 2rem;
}

.navbar {
  min-height: 15vh;
  box-shadow: 0px 1px 13px -4px rgba(0, 0, 0, 0.75);
}

.panel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 50vh;
}

.btn-panel-control {
  background-color: var(--bg-green);
  width: 70%;
  min-height: 5rem;
  font-size: var(--font-subtitle);
  color: var(--bg-light);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.btn-panel-control:hover {
  transform: scale(1.1);
  color: var(--bg-dark);
}

.titulo-seccion {
  font-size: var(--font-title);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width:600px) {
  .panel-container {
    min-height: 80vh;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .btn-panel-control {
    height: 6rem;
    width: 40%;
    flex-basis: 40%;
  }
}